.main {
  &__container-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__section {
    background: url('../img/bg/pattern-header.png') right bottom/contain no-repeat;
    background-color: #61c4d9;
    position: relative;
    padding-bottom: rem(50px);
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: rem(345px);
      position: absolute;
      bottom: -50px;
      background: url('../img/bg/leaves-header.png') center center/contain no-repeat;
    }
  }

  &__content-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__content {
    flex: .5;
    margin: auto 0;
  }

  &__title h1 {
    font-size: rem(60px);
    font-family: $bold;
    text-transform: uppercase;
    margin-bottom: rem(12px);
    line-height: 1;
  }

  &__desc {
    font-size: rem(21px);
    margin-bottom: rem(32px);
    width: 75%;
  }

  &__link {
    display: inline-block;
    font-family: $extra;
    color: #0f5a47;
    font-size: rem(19px);
    text-transform: uppercase;
    background-color: #fff;
    padding: rem(18px) rem(35px);
    border-radius: rem(40px);
    position: relative;
    z-index: 1;
  }

  &__bars {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  &__picture {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 42px;
    right: -51px;
  }
}
.features {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    margin-right: rem(28px);
    &:last-child {
      margin-right: 0;
    }
  }
  &__pic {
    margin-right: rem(10px);
    width: 100%;
  }
  &__img {
    display: block;
  }
}

.features__icon {
  width: rem(44px);
  height: rem(41px);
  fill:#61c4d9;
  stroke:#b0f7ff;
}
