.reviews {
  position: relative;
  &::before {
    content: '';
    width: rem(139px);
    height: rem(321px);
    background: url('../img/reviews/reviews-bg.png') center center / contain no-repeat;
    position: absolute;
    left: 0;
    bottom: -16%;
  }
  &__title {
    margin-bottom: rem(44px);
  }
  &__content {
    background: url('../img/bg/reviews-bg.png') center center/cover no-repeat;
    padding: rem(50px);
    display: flex;
    position: relative;

    @include tablets {
      flex-direction: column;
      align-items: center;
      max-width: rem(460px);
    }

    &::before {
      content: '';
      position: absolute;
      top: -27%;
      right: -7%;
      width: rem(150px);
      height: rem(86px);
      background: url('../img/reviews/berry-rev.png') center center/contain no-repeat;

      @include tablets {
        right: -35%;
      }
    }

    &::after {
      content: '';
      display: none;
  
      @include tablets {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: rem(119px);
        height: rem(167px);
        background: url('../img/reviews/reviews-flower.png') center center / cover no-repeat;
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
  }
  &__description {
    margin-left: rem(20px);
    flex: 2;

    @include tablets {
      margin-left: 0;
      text-align: center;
    }
  }
  &__avatars {
    margin-top: rem(27px);
    display: flex;
    justify-content: center;
  }
  &__item {
    margin-right: rem(11px);
    border: 6px solid #0f5a47;
    border-radius: 50%;
  }
}

.reviews__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.reviews__photo {
  @include tablets {
    margin-top: rem(30px);
    max-width: rem(204px);
  }
}

.description {
  &__title {
    color: #323232;
    font-size: rem(30px);
    font-family: $medium;
    margin-top: rem(18px);
    margin-bottom: rem(25px);
  }
  &__text {
    color: $grey;
    margin-bottom: rem(30px);
    width: 77%;

    @include tablets {
      width: 100%;
    }
  }
  &__author {
    color: $grey;
    font-family: $medium;
  }
}