.why {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: rem(191px);
    height: rem(314px);
    background: url('../img/bg/leaves-why.png') center center/cover no-repeat;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    width: rem(161px);
    height: rem(315px);
    top: 77%;
    left: 0;
    background: url('../img/bg/raspberries-why.png') center center/cover no-repeat;
  }
  &__title {
    margin-bottom: rem(13px);
  }
  &__desc {
    text-align: center;
    width: 45%;
    margin: 0 auto;
    color: $grey;
    font-size: rem(18px);
    margin-bottom: rem(55px);
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.because {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:last-child {
    .because__logo::after {
      display: none;
    }
  }
  &__logo {
    width: rem(125px);
    height: rem(125px);
    background-color: #f2f5f4;
    border-radius: 50%;
    padding: rem(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(35px);
    position: relative;
    &::after {
      content: '';
      width: rem(67px);
      height: rem(21px);
      background: url('../img/icons/why-dots.png') center center/cover no-repeat;
      position: absolute;
      left: 151%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__img {
    max-width: 100%;
  }
  &__desc {
    text-align: center;
  }
  &__title {
    color: #000;
    font-family: $bold;
    font-size: rem(27px);
    margin-bottom: rem(25px);
  }
  &__text {
    color: $grey;
    font-family: $light;
  }
}

.because__icon {
  fill:none;
  stroke:#000000;
  stroke-width:0.75;
  stroke-miterlimit:10;
}